.clock {
  position: absolute;
  left: 50%;
  top: 142px;
  transform: translate(-50%, -50%);
}
.profile {
  position: absolute;
  top: 138px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slaches {
    color: var(--color-rosa-primario);
}
.kurumiProyectos{
  width: 229px;
  min-width: 229px;
  height: auto;
  bottom: 0;
  left: -80px;
  position: absolute;
 
}
.kurumiSkills {
  width: 241px;
  min-width: 241px;
  height: auto;
  bottom: 0;
  right: -85px;
  position: absolute;
}
.correoReverse {
  direction: rtl;
  unicode-bidi: bidi-override;
}