.clock {
  position: absolute;
  left: 50%;
  top: 142px;
  transform: translate(-50%, -50%);
}
.profile {
  position: absolute;
  top: 138px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slaches {
    color: #F53D53;
}