@import "./styles/fonts.css";
@import "tailwindcss";

@theme {
    --font-tw-cen-mt: 'TwCenMT', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --color-gris-primario: #6D6D6D;
}

@layer components {
    .contenedor {
        @apply w-[90%] sm:w-[80%] mx-auto max-w-5xl;
    }
}