@import "./styles/fonts.css";
@import "tailwindcss";

@theme {
    --font-tw-cen-mt: 'TwCenMT', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --color-gris-primario: #6D6D6D;
    --color-gris-secundario: #F0F0F0;
    --color-gris-fondo: #F9F9F8;
    --color-rosa-primario: #ED3C4C;
}

@layer components {
    .contenedor {
        @apply w-[90%] sm:w-[80%] mx-auto max-w-5xl;
    }
}